@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background:linear-gradient(to right, rgb(120, 216, 240), rgb(236, 133, 185));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.clock {
    width: 300px;
    height: 300px;
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock .number {
    --rotate: 0;
    font-size: 1.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    transform: rotate(var(--rotate));
}

.clock .number1{--rotate:30deg;}
.clock .number2{--rotate:60deg;}
.clock .number3{--rotate:90deg;}
.clock .number4{--rotate:120deg;}
.clock .number5{--rotate:150deg;}
.clock .number6{--rotate:180deg;}
.clock .number7{--rotate:210deg;}
.clock .number8{--rotate:240deg;}
.clock .number9{--rotate:270deg;}
.clock .number10{--rotate:300deg;}
.clock .number11{--rotate:330deg;}


.clock .needle{
    --rotate:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 40%;
    transform-origin: bottom;
    background-color: black;
    transform: translateX(-50%) rotate(calc(var(--rotate) * 1deg));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 10;

}
.clock::after{
    content:'';
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50% ;
}
.clock .needle.second{
    width: 3px;
    height: 45%;
    background-color: red;
}
.clock .needle.minute{
    width: 7px;
    height: 40%;
    background-color: black;
}
.clock .needle.hour{
    width: 10px;
    height: 35%;
    background-color: black;
}